In [1]:
import geopandas as gpd
from simpledbf import Dbf5
import time

PyTables is not installed. No support for HDF output.

In [2]:
fi = r"D:\projects\RD\night_fire\modis_fire_points\DL_FIRE_M6_50643\fire_archive_M6_50643.dbf"
shp_fi = r"D:\projects\RD\night_fire\modis_fire_points\DL_FIRE_M6_50643\fire_archive_M6_50643.shp"

In [4]:
t0 = time.time()
dbf = Dbf5(fi)
df_dbf = dbf.to_dataframe()
t1 = time.time()
print('simpledbf: {} seconds'.format(t1-t0))

simpledbf: 71.53590321540833 seconds

In [5]:
t0 = time.time()
df = gpd.read_file(fi)
t1 = time.time()
print('simpledbf: {} seconds'.format(t1-t0))

simpledbf: 180.05971908569336 seconds

In [6]:
df_dbf.head()

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,TYPE
0,-28.7608,20.6512,332.9,1.3,1.1,2004-01-01,0006,Aqua,MODIS,100,6.2,292.8,49.2,N,0
1,-28.7593,20.6378,303.6,1.3,1.1,2004-01-01,0006,Aqua,MODIS,56,6.2,291.0,8.8,N,0
2,-34.0107,18.6602,307.7,1.2,1.1,2004-01-01,0007,Aqua,MODIS,72,6.2,287.6,12.4,N,0
3,35.9348,140.6742,301.6,1.9,1.4,2004-01-01,0103,Terra,MODIS,0,6.2,286.7,15.2,D,2
4,-19.5890,144.4041,317.4,3.6,1.8,2004-01-01,0118,Terra,MODIS,54,6.2,300.4,34.1,D,0